{% extends 'layout.twig' %}

{% block body %}
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{% if articles %}
<div class="row">
  {% for article in articles %}
  <div class="card col-md-3 m-2" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1613936389989-4d01a2fa51b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80" class="card-img-top" alt="{{ article.title }}">
    <div class="card-body">
      <h5 class="card-title">{{ article.title }}</h5>
      <a href="/article/{{ article._id }}" class="btn btn-primary">En savoir plus</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}