{% extends "layout.twig" %}
{% block body %}
<div class="" style="width: 100%;">
  <img src="{{ article.image }}" class="card-img-top" alt="{{ article.name }}">
  <div class="card-body">
    <h3>{{ article.name }}</h3>
    <p> <strong>Published at</strong>{{ article.publishedAt | date("d-m-Y h:m:s") }}</p>
    <hr>
    <p class="card-title">{{ article.content }}</p>
    <hr>
    <a href="/" class="btn btn-primary">Back to home</a>

  </div>
  {% endblock %}